:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --burger-btn: #2f2f37;
  --box-shadow-button: rgba(0, 0, 0, 0.15);
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.prime-color {
  color: var(--iris);
}
/*  header */

.header-page {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.header-wrapper {
  min-height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.nav__list {
  display: none;
}

.address {
  display: none;
}

.burger-btn {
  width: 24px;
  height: 24px;
  line-height: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.burger-btn__icon {
  fill: var(--navy-blue);
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  .header-wrapper {
    min-height: 72px;
  }
  .burger-btn {
    display: none;
  }

  .nav {
    display: flex;
    gap: 120px;
    align-items: center;
  }

  /* .logo {
    margin-right: 120px;
  } */
  .nav__list {
    display: flex;
    gap: 40px;
  }

  .address {
    display: block;
  }
  .nav__link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav__link.is-active-link {
    color: var(--ocean);
  }
  .nav__link.is-active-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
    position: absolute;
    bottom: -1px;
  }

  .nav__link:hover,
  .nav__link:focus {
    color: var(--ocean);
  }

  .address__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .address__link {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: var(--slate);
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover,
  .nav__link:focus,
  .address__link:hover,
  .address__link:focus {
    color: var(--ocean);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
    padding: 0 15px;
  }

  .nav {
    gap: 76px;
  }

  .address__list {
    flex-direction: row;
    gap: 40px;
  }

  .address__link {
    font-size: 16px;
  }
}
/* ? /header */
/* 
  HERO SECTION
*/

.section {
  padding: 96px 0;
}

.hero {
  min-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/mobile/mobileBG.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/mobile/mobileBG@2x.jpg');
  }
}

.hero__section {
  padding: 72px 0;
}

.hero__title {
  width: 216px;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.main-btn {
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: var(--font-family);
  background-color: var(--iris);
  font-size: 16px;
  letter-spacing: 0.04em;

  font-weight: 500;
  line-height: 1.5;

  color: var(--white);
  box-shadow: 0 4px 4px 0 var(--box-shadow-button);

  padding: 12px 32px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .hero__section {
    padding: 112px 0;
  }

  .hero {
    min-width: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tablet/tabletBg.jpg');
  }

  .hero__title {
    width: 504px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}


@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/tablet/tabletBg@2x.jpg');
  }
}




@media screen and (min-width: 1158px) {
  .hero__section {
    padding: 188px 0;
  }

  .hero {
    min-width: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/desctop/desctop-bg.jpg');
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/desctop/desctop-bg@2x.jpg');
  }
}
/* 
  ///HERO SECTION
*/

/* 
    QUALITY SECTION
 */

.quality-list__container {
  display: none;
}

.quality-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.quality-list__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quality-list__title {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  
}

.quality-list__description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

@media screen and (min-width: 768px) {
  .quality-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .quality-list__item {
    width: calc((100% - 24px) / 2);
  }

  .quality-list__title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .quality-list__item {
    width: calc((100% - 72px) / 4);
  }

  .quality-list__container {
    background-color: var(--cloud);
    padding: 24px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #000;
    
    border-radius: 4px;
  }

  .quality-list__title {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* 
    ///QUALITY SECTION
 */

/* 
    TEAM SECTION

 */
.team {
  background-color: var(--cloud);
}

.team__title {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list__item {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-list__container {
  padding: 32px 16px;
}



.team-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-list__description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
  margin-bottom: 8px;
}

.icon-list__container {
  display: flex;
  gap: 24px;
  
}

.icon-list__container-links {
  width: 40px;
  height: 40px;
}
.icon-list__container-link {
  width: 100%;
  height: 100%;

  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list__icon {
  fill: var(--cloud);
}

.icon-list__container-link:hover,
.icon-list__container-link:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

/* 
     /// TEAM SECTION

 */

/* 
      PORTFOLIO SECTION

 */

.portfolio__title {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.portfolio-list__item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__container {
  position: relative;
  overflow: hidden;
}
.portfolio-list__item:hover,
.portfolio-list__item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio_border {
  position: relative;
  top: 0;
  left: 0;
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  padding: 32px 16px;
  background-color: var(--white);
}

.overlay {
  position: absolute;
  background-color: var(--iris);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--cloud);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover .overlay {
  transform: translateY(0);
}

.portfolio_border {
  padding: 32px 16px;
}

.portfolio-list__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-list__description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-list__item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-list__item {
    width: calc((100% - 48px) / 3);
  }
}
/* 
     /// PORTFOLIO SECTION

 */

/* 
      FOOTER SECTION

 */

.footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
}

.side-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.side-content .logo {
  color: currentColor;

}

.webstudio-contant__description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.mid-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.mid-content__description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.mid-list {
  display: flex;
  gap: 16px;
}

.mid-list__item {
  width: 40px;
  height: 40px;
}

.mid-list__link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mid-list__link:hover,
.mid-list__link:focus {
  background-color: var(--green);
}

.mid-list__icon {
  fill: var(--cloud);
}

.side-right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.side-right-content__title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form-subscribe__input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid var(--white);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white);
  
  opacity: 0.3;
}

.form-subscribe__input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}


.form-subscribe__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  font-weight: 500;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border: none;
  background-color: var(--iris);
  border-radius: 4px;
  border-color: transparent;
  border-width: 0;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe__icon {
  fill: var(--white);
  margin-left: 16px;
}

.form-subscribe__btn:hover,
.form-subscribe__btn:focus {
  background-color: var(--ocean);
}


@media screen and (min-width: 768px) {
  .side-content {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
    padding: 0 96px;
  }

  .footer-logo__wrapper {
    width: 264px;
    align-items: flex-start;
  }

  .mid-content {
    align-items: flex-start;
  }


  .side-right-content {
    align-items: flex-start;
  }

  .form-subscribe {
    flex-direction: row;
    gap: 24px;
  }
}


@media screen and (min-width: 1158px) {
  .side-content {
    gap: 0;
    padding: 0;
  }
  .footer-logo__wrapper {
    margin-right: 120px;
  }

  .mid-content {
    margin-right: 80px;
  }
}
/* 
     /// FOOTER SECTION

 */


 /* 
  MODAL CONTACTS 
 */

  
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--cornflower);
  cursor: pointer;
  border: none;
  fill: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.close-btn:active {
  background-color: var(--ocean);
  fill: var(--white);
}

.modal__title {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.label-container {
  margin-bottom: 8px;
}

.textarea-container {
  margin-bottom: 8px;
}

.input-container {
  position: relative;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 11px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  padding-left: 38px;
  border: 1px solid var(--navy-blue-modal);
  margin-bottom: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--iris);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--iris);
}



.modal-form__comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  padding: 8px 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  resize: none;
}

.modal-form__comment:focus {
  border-color: var(--iris);
}



.modal-form__icon-box {
  fill: var(--cloud);
}

.modal-form__label--appere {
  margin: 0;
}

.modal-form__link {
  position: relative;
  left: 26px;
  color: var(--iris);
  text-decoration: underline;
  cursor: pointer;
}

.input-container--flex {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.review-form-own-checkbox {
  position: relative;
  left: 0;
  top: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  cursor: pointer;
  margin-right: 8px;
  background-color: var(--cloud);
  fill: transparent;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked
  + .modal-form__label--appere
  .review-form-own-checkbox {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.modal-form__checkbox:focus
  + .modal-form__label--appere
  .review-form-own-checkbox {
  outline: 1px solid var(--iris);
}


@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }


  .modal-form__link {
    position: static;
  }

  .review-form-own-checkbox {
    top: 0;
  }

  .modal-form__description {
    font-size: 12px;
  }
}


 /* 
  /// MODAL CONTACTS 
 */
 /* 
  Menu Burger  
 */
.backdrop-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  
.backdrop-menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dairy);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


  
.modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 320px; */
  height: 100vh;
  padding: 72px 16px 40px 16px;
  
}

.close-btn-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--cornflower);
  cursor: pointer;
  border: none;
  fill: var(--navy-blue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modal-menu__item {
  /* margin-bottom: 40px; */
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* .modal-menu__item:last-child {
  margin-bottom: 168px;
} */
.modal-menu__link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu__link:hover,
.modal-menu__link:focus,
.menu-address__contact:hover,
.menu-address__contact:focus {
  color: var(--ocean);
}


.menu-address {
}
.menu-address__list {
 display: flex;
 flex-direction: column-reverse;
 gap: 24px;
}
/* .menu-address__item:not(:first-child) {
   margin-bottom: 24px;
} */
.menu-address__contact {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);
}

.modal-menu .mid-list {
  display: flex;
  justify-content: space-between;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

 /* 
  //// Menu Burger  
 */

}

 